@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton {
    @apply px-6 py-2 border-transparent border-2 uppercase text-sm tracking-widest text-port-purple transition-all;
  }
  .heroButton:hover {
    @apply border-violet text-violet;
  }
}
